// Responsive for all resolutions
@import "./mixin";
@import "./variable";

// Medium desktop --------------------------------
@media (max-width: 1240px) {
  // header -----------
  .header {
    &__top {
      @include inner-container(1128px !important);
    }
    &__search {
      width: 220px !important;
    }
    &__nav {
      @include inner-container(1128px !important);
    }
    &__nav-link--active {
      display: block !important;
      color: $dark-grey;
      @include font-style(400, 16px, 20px, -0.24px);
      @include flex(center, center, row, 8px, 0);
    }

    &__dropdown-content {
      display: none !important;
    }

    &__dropdown-content.show {
      display: flex !important;
      position: absolute;
      z-index: 200;
      top: 132px;
      right: 20px;
      background: $white;
      @include flex(center, flex-start, column-reverse, 0px, 24px);
      width: 180px;
      height: 156px;
      border-radius: $radius8;
      padding: 24px 16px;
      box-shadow: $small-shadow;
    }
  }

  // slider --------------------
  .custom-slider {
    @include inner-container(1128px !important);
    height: 700px !important;
    margin-block: 32px 64px !important;
    // Content over slider
    &__content {
      width: 1080px !important;
      height: 246px !important;
    }
  }

  // section for cards --------------

  // footer ------------------------
}

//  Tablet ---------------------------------
@media (max-width: 1024px) {
  // header ------------
  .header {
    &__top {
      @include inner-container(928px !important);
    }
    &__social-icons {
      display: none !important;
    }
    &__logo {
      @include font-style(600, 24px !important, 34px, 0.36px);
    }
    &__controls {
      @include flex(center, center, row, 16px, 0);
    }
    &__search {
      width: 216px !important;
    }
    &__burger-button {
      display: block !important;
      width: 48px;
      height: 48px;
      border: none;
      border-radius: $radius8;
      background: $light-grey;
      transition: 0.3s;

      &:hover {
        background: $icon-hover-bg;
      }
    }
    &__bottom {
      display: none;
    }
    &__bottom.show {
      display: block;
      position: absolute;
      z-index: 200;
      width: 180px;
      top: 80px;
      right: 0px;
      background: $white;
      border-radius: $radius8;
      padding: 24px 16px;
      box-shadow: $small-shadow;
    }
    &__nav-ul {
      @include flex(
        center !important,
        flex-start !important,
        column !important,
        0px,
        24px !important
      );
    }
    &__nav-link--active {
      display: none !important;
    }
    &__dropdown-content {
      display: flex !important;
      @include flex(
        center !important,
        flex-start !important,
        column !important,
        0px,
        24px !important
      );
    }
  }

  // slider --------------------
  .custom-slider {
    @include inner-container(928px !important);
    height: 560px !important;
    margin-block: 16px 64px !important;
    // Content over slider
    &__content {
      width: 880px !important;
      height: 158px !important;
      padding: 24px !important;
    }
    // buttons block
    &__navigation {
      width: 137px !important;
      height: 48px !important;
      @include flex(
        space-between,
        flex-start,
        row,
        16px !important,
        16px !important
      );
      bottom: 460px !important;
      left: 24px;
    }
    &__button {
      background: $white;
      border-radius: $radius8;
      width: 32px !important;
      height: 32px !important;
      top: 30%;
      transform: translateY(-30%);
    }
    &__pagination {
      top: 25%;
      transform: translateY(-25%);
    }
  }
  // section for cards --------------

  // footer ------------------------
}

//  MOBILE ----------------------------------
@media (max-width: 360px) {
  // header ---------
  .header {
    &__top {
      @include inner-container(296px !important);
    }
    &__controls {
      @include flex(center, center, row, 12px !important, 0);
      height: 40px;
    }
    &__search-input {
      display: none;
    }
    &__search {
      width: 40px !important;
      height: 100% !important;
      padding: 0 !important;
    }
    &__search-button {
      width: 100% !important;
      height: 100% !important;
      background: $light-grey !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__search-icon--desktop {
      display: none !important;
    }
    &__search-icon--mobile {
      display: block !important;
    }
    &__burger-button {
      width: 40px !important;
      height: 100% !important;
    }
  }

  // slider --------------------
  .custom-slider {
    @include inner-container(360px !important);
    height: 434px !important;
    margin-block: 0px !important;
    position: relative;
    display: flex;
    flex-direction: column;
    &__image {
      border-radius: 0px !important;
      height: 280px !important;
    }
    // Content over slider
    &__content {
      width: 360px !important;
      height: 154px !important;
      padding: 16px !important;
      left: 0px !important;
      bottom: 0px !important;
      border-radius: 0px !important;
      position: static !important;
    }
    &__title {
      @include font-style(600, 16px !important, 24px !important, 0.35px);
      margin-top: 8px !important;
    }
    &__navigation {
      width: 328px !important;
      top: 124px !important;
      left: 50% !important;
      transform: translate(-50%) !important;
      background: transparent !important;
    }
    &__pagination {
      display: none;
    }
  }

  // section for cards --------------

  // footer ------------------------
}
