// styles
// Partial Files
@import "./mixin";
@import "./reset";
// @import "./responsive";
@import "./variable";

// import font
@import url("https://free.bboxtype.com/embedfonts/?family=FiraGO:400,700");

// Define a font for a page
body {
  font-family: $font;
}

// header -----------------------
.header {
  @include outer-container(1920px);
  position: relative;

  // header top
  &__top {
    @include inner-container(1312px);
    @include flex(space-between, center, row, 0, 0);
    padding-block: 16px;
  }
  // social-icons
  &__social-icons {
    @include flex(center, center, row, 8px, 0);
  }
  &__social-link {
    @include flex(center, center, row, 0, 0);
    width: 40px;
    height: 40px;
    border-radius: $radius8;
    background: $light-grey;
    transition: 0.3s;

    &:hover {
      background: $icon-hover-bg;
    }
  }
  // logo
  &__logo {
    color: $primary-color;
    @include font-style(600, 28px, 34px, 0.36px);
    cursor: pointer;
  }

  &__search {
    background: $light-grey;
    width: 304px;
    height: 48px;
    padding-inline: 16px 4px;
    border-radius: $radius10;
    @include flex(space-between, center, row, 0, 0);
  }

  &__search-input {
    background: transparent;
    width: 70%;
    height: 100%;
    border: none;
    outline: none;
    &::placeholder {
      color: $dark-grey;
      @include font-style(400, 16px, 20px, -0.24px);
    }
  }

  &__search-button {
    width: 40px;
    height: 40px;
    border-radius: $radius8;
    background: $white;
    border: none;
  }

  &__search-icon--mobile,
  &__burger-button {
    display: none;
  }

  // header bottom -----
  &__bottom {
    background: $low-dark-grey;
    padding-block: 16px;
  }
  &__nav {
    @include inner-container(1312px);
  }
  &__nav-ul,
  &__dropdown-content {
    @include flex(space-between, center, row, 33.4px, 0);
  }
  &__nav-link--active {
    display: none;
  }
  &__nav-link {
    color: $dark-grey;
    @include font-style(400, 16px, 20px, -0.24px);
    transition: 0.3s;

    &:hover {
      color: $primary-color;
    }
  }
}

// slider --------------------

// section for cards --------------

.cards {
  display: grid;
  grid-template-columns: 304px 640px 304px;
  grid-template-rows: 244px 244px;
  gap: 31px;
  @include inner-container(1312px);
  &__images {
    @include image-style(304px, 150px);
    border-radius: $radius12;
  }

  &__post {
    @include font-style(400, 12px, 18px, 0.2px);
    color: $dark-grey;
    margin: 16px 12px 8px 12px;
  }

  .paragraphs-cards {
    @include font-style(500, 13px, 18px, 0.2px);
    margin: 8px 12px 16px 12px;
  }
  &__moon,
  &__nuclear,
  &__key,
  &__cancer,
  &__clock {
    border-radius: $radius12;
    background-color: $white;
    box-shadow: $big-shadow;
  }

  &__nuclear {
    &--img {
      width: 640px;
      height: 356px;
    }
    grid-row: span 2;

    &--paragraph {
      @include font-style(600, 16px, 24px, 0.34px);
      padding: 32px 16px;
      border-bottom: 1px solid $light-grey;
    }

    &__post {
      @include flex(space-between, 0, 0, 0, 0);
      @include font-style(500, 13px, 18px, 0.2px);
      padding: 16px 17px;

      &--news {
        color: $primary-color;
      }

      &--newsdate {
        color: $dark-grey;
      }
    }
  }
}

.custom-slider {
  @include inner-container(1312px);
  height: 760px;
  margin-block: 48px 64px;
  &__image {
    @include image-style($width: 100%, $height: 100%, $object-fit: cover);
    border-radius: $radius12;
  }
  // Content over slider
  &__content {
    position: relative;
    width: 600px;
    height: 280px;
    padding: 32px 24px;
    position: absolute;
    z-index: 100;
    left: 24px;
    bottom: 24px;
    border-radius: $radius10;
    background: $white;
  }
  &__category {
    @include font-style(600, 13px, 18px, -0.08px);
    color: $primary-color;
  }
  &__separator,
  &__date {
    @include font-style(400, 13px, 18px, -0.08px);
    color: $dark-grey;
  }
  &__title {
    @include font-style(600, 24px, 40px, 0.35px);
    color: $black-color;
    margin-top: 12px;
  }
  // buttons block
  &__navigation {
    width: 113px;
    height: 40px;
    border-radius: $radius8;
    padding: 8px;
    background: $light-grey;
    @include flex(space-between, center, row, 12px, 12px);
    position: absolute;
    bottom: 29px;
    left: 24px;
    z-index: 100;
  }
  // buttons
  &__button {
    width: 24px;
    height: 24px;
    color: $dark-grey;
    cursor: pointer;
    position: absolute;
    top: 80%;
  }
  &__button--prev::after,
  &__button--next::after {
    font-size: 14px;
    font-weight: 900;
  }
  &__pagination {
    @include font-style(600, 16px, 24px, 0.35px);
    color: $black-color;
    width: 25px;
    height: 24px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

// section for cards --------------

// footer ------------------------

// responsive-ის იმპორტი არის ბოლოში და ამის ქვევით არ ვწერთ სტილებს
@import "./responsive";
