@import url("https://free.bboxtype.com/embedfonts/?family=FiraGO:400,700");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "FiraGO", sans-serif;
}

.header {
  width: min(100%, 1920px);
  margin: auto;
  position: relative;
}
.header__top {
  max-width: 1312px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 0;
       column-gap: 0;
  row-gap: 0;
  padding-block: 16px;
}
.header__social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 8px;
       column-gap: 8px;
  row-gap: 0;
}
.header__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 0;
       column-gap: 0;
  row-gap: 0;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: #edf0f7;
  transition: 0.3s;
}
.header__social-link:hover {
  background: #dbe1ef;
}
.header__logo {
  color: #ff3b30;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.36px;
  cursor: pointer;
}
.header__search {
  background: #edf0f7;
  width: 304px;
  height: 48px;
  padding-inline: 16px 4px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 0;
       column-gap: 0;
  row-gap: 0;
}
.header__search-input {
  background: transparent;
  width: 70%;
  height: 100%;
  border: none;
  outline: none;
}
.header__search-input::-moz-placeholder {
  color: #4a5468;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.24px;
}
.header__search-input::placeholder {
  color: #4a5468;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.24px;
}
.header__search-button {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: #ffffff;
  border: none;
}
.header__search-icon--mobile, .header__burger-button {
  display: none;
}
.header__bottom {
  background: #e2e7f0;
  padding-block: 16px;
}
.header__nav {
  max-width: 1312px;
  margin: auto;
}
.header__nav-ul, .header__dropdown-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 33.4px;
       column-gap: 33.4px;
  row-gap: 0;
}
.header__nav-link--active {
  display: none;
}
.header__nav-link {
  color: #4a5468;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.24px;
  transition: 0.3s;
}
.header__nav-link:hover {
  color: #ff3b30;
}

.cards {
  display: grid;
  grid-template-columns: 304px 640px 304px;
  grid-template-rows: 244px 244px;
  gap: 31px;
  max-width: 1312px;
  margin: auto;
}
.cards__images {
  width: 304px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
.cards__post {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #4a5468;
  margin: 16px 12px 8px 12px;
}
.cards .paragraphs-cards {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.2px;
  margin: 8px 12px 16px 12px;
}
.cards__moon, .cards__nuclear, .cards__key, .cards__cancer, .cards__clock {
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1215686275);
}
.cards__nuclear {
  grid-row: span 2;
}
.cards__nuclear--img {
  width: 640px;
  height: 356px;
}
.cards__nuclear--paragraph {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.34px;
  padding: 32px 16px;
  border-bottom: 1px solid #edf0f7;
}
.cards__nuclear__post {
  display: flex;
  justify-content: space-between;
  align-items: 0;
  flex-direction: 0;
  -moz-column-gap: 0;
       column-gap: 0;
  row-gap: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.2px;
  padding: 16px 17px;
}
.cards__nuclear__post--news {
  color: #ff3b30;
}
.cards__nuclear__post--newsdate {
  color: #4a5468;
}

.custom-slider {
  max-width: 1312px;
  margin: auto;
  height: 760px;
  margin-block: 48px 64px;
}
.custom-slider__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
.custom-slider__content {
  position: relative;
  width: 600px;
  height: 280px;
  padding: 32px 24px;
  position: absolute;
  z-index: 100;
  left: 24px;
  bottom: 24px;
  border-radius: 10px;
  background: #ffffff;
}
.custom-slider__category {
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.08px;
  color: #ff3b30;
}
.custom-slider__separator, .custom-slider__date {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.08px;
  color: #4a5468;
}
.custom-slider__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.35px;
  color: #000000;
  margin-top: 12px;
}
.custom-slider__navigation {
  width: 113px;
  height: 40px;
  border-radius: 8px;
  padding: 8px;
  background: #edf0f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 12px;
       column-gap: 12px;
  row-gap: 12px;
  position: absolute;
  bottom: 29px;
  left: 24px;
  z-index: 100;
}
.custom-slider__button {
  width: 24px;
  height: 24px;
  color: #4a5468;
  cursor: pointer;
  position: absolute;
  top: 80%;
}
.custom-slider__button--prev::after, .custom-slider__button--next::after {
  font-size: 14px;
  font-weight: 900;
}
.custom-slider__pagination {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.35px;
  color: #000000;
  width: 25px;
  height: 24px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1240px) {
  .header__top {
    max-width: 1128px;
    margin: auto;
  }
  .header__search {
    width: 220px;
  }
  .header__nav {
    max-width: 1128px;
    margin: auto;
  }
  .header__nav-link--active {
    display: block;
    color: #4a5468;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    -moz-column-gap: 8px;
         column-gap: 8px;
    row-gap: 0;
  }
  .header__dropdown-content {
    display: none;
  }
  .header__dropdown-content.show {
    display: flex;
    position: absolute;
    z-index: 200;
    top: 132px;
    right: 20px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column-reverse;
    -moz-column-gap: 0px;
         column-gap: 0px;
    row-gap: 24px;
    width: 180px;
    height: 156px;
    border-radius: 8px;
    padding: 24px 16px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1019607843);
  }
  .custom-slider {
    max-width: 1128px;
    margin: auto;
    height: 700px;
    margin-block: 32px 64px;
  }
  .custom-slider__content {
    width: 1080px;
    height: 246px;
  }
  .cards {
    grid-template-columns: 264px 552px 264px;
    gap: 24px;
    max-width: 1128px;
    margin: auto;
  }
  .cards .paragraphs-cards {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.2px;
  }
  .cards__images {
    width: 264px;
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .cards__nuclear--img {
    width: 552px;
    height: 356px;
  }
}
@media (max-width: 1024px) {
  .header__top {
    max-width: 928px;
    margin: auto;
  }
  .header__social-icons {
    display: none;
  }
  .header__logo {
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.36px;
  }
  .header__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    -moz-column-gap: 16px;
         column-gap: 16px;
    row-gap: 0;
  }
  .header__search {
    width: 216px;
  }
  .header__burger-button {
    display: block;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 8px;
    background: #edf0f7;
    transition: 0.3s;
  }
  .header__burger-button:hover {
    background: #dbe1ef;
  }
  .header__bottom {
    display: none;
  }
  .header__bottom.show {
    display: block;
    position: absolute;
    z-index: 200;
    width: 180px;
    top: 80px;
    right: 0px;
    background: #ffffff;
    border-radius: 8px;
    padding: 24px 16px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1019607843);
  }
  .header__nav-ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    -moz-column-gap: 0px;
         column-gap: 0px;
    row-gap: 24px;
  }
  .header__nav-link--active {
    display: none;
  }
  .header__dropdown-content {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    -moz-column-gap: 0px;
         column-gap: 0px;
    row-gap: 24px;
  }
  .custom-slider {
    max-width: 928px;
    margin: auto;
    height: 560px;
    margin-block: 16px 64px;
  }
  .custom-slider__content {
    width: 880px;
    height: 158px;
    padding: 24px;
  }
  .custom-slider__navigation {
    width: 137px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    -moz-column-gap: 16px;
         column-gap: 16px;
    row-gap: 16pt;
    bottom: 460px;
    left: 24px;
  }
  .custom-slider__button {
    background: #ffffff;
    border-radius: 8px;
    width: 32px;
    height: 32px;
    top: 62%;
  }
  .custom-slider__pagination {
    top: 25%;
  }
  .cards {
    grid-template-columns: 448px;
    gap: 24px;
    max-width: 928px;
    margin: auto;
  }
  .cards__moon {
    order: 2;
  }
  .cards__nuclear {
    order: 1;
  }
  .cards__key {
    order: 5;
  }
  .cards__cancer {
    order: 4;
  }
  .cards__clock {
    order: 3;
  }
  .cards__key {
    order: 5;
  }
  .cards__images {
    width: 448px;
    height: 194px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .cards__nuclear {
    grid-column: span 2;
  }
  .cards__nuclear--img {
    width: 928px;
    height: 372px;
  }
  .cards__nuclear--paragraph {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.35px;
    padding: 20px 16px;
  }
}
@media (max-width: 360px) {
  .header__top {
    max-width: 296px;
    margin: auto;
  }
  .header__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    -moz-column-gap: 12px;
         column-gap: 12px;
    row-gap: 0;
    height: 40px;
  }
  .header__search-input {
    display: none;
  }
  .header__search {
    width: 40px;
    height: 100%;
    padding: 0;
  }
  .header__search-button {
    width: 100%;
    height: 100t;
    background: #edf0f7;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__search-icon--desktop {
    display: none;
  }
  .header__search-icon--mobile {
    display: block;
  }
  .header__burger-button {
    width: 40px;
    height: 100%;
  }
  .custom-slider {
    max-width: 360px;
    margin: auto;
    height: 434px;
    margin-block: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .custom-slider__image {
    border-radius: 0px;
    height: 280px;
  }
  .custom-slider__content {
    width: 360px;
    height: 154px;
    padding: 16px;
    left: 0px;
    bottom: 0px;
    border-radius: 0px;
    position: static;
  }
  .custom-slider__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.35px;
    margin-top: 8px;
  }
  .custom-slider__navigation {
    width: 328px;
    top: 124px;
    left: 50%;
    transform: translate(-50%);
    background: transparent;
  }
  .custom-slider__pagination {
    display: none;
  }
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 296px;
    margin: auto;
  }
  .cards__moon {
    order: 2;
  }
  .cards__nuclear {
    order: 1;
  }
  .cards__key {
    order: 5;
  }
  .cards__cancer {
    order: 4;
  }
  .cards__clock {
    order: 3;
  }
  .cards__key {
    order: 5;
  }
  .cards__images {
    width: 328px;
    height: 140px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .cards__nuclear--img {
    width: 328px;
    height: 181px;
  }
}/*# sourceMappingURL=style.css.map */